html {
    background-color: #f5c572;
}

.main {
    font-size: larger;
    text-align: center;
    font-family: "Roboto Light", sans-serif;
    font-weight: bolder;
    color: black;
    border-radius: 40px;
    border: 10px solid black;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
